@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

h2 {
    color: #2c3e50;
}

.p-inputtextarea {
    width: 100%;
}